@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: #ffffff;
  font-family: "Open Sans";
  color: #333333;
  display: flex;
  box-sizing: border-box;
  line-height: 1.5;
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

header {
  color: #000000;
  text-align: center;
  font-weight: thin;
  font-size: 1.8em;
}

.heading {
  margin: 10px;
  padding-bottom: 5px;
}

#main-doc header {
  text-align: left;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

#navbar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 300px;
  border-color: #333333;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid grey;
}

.nav-link > li {
  display: block;
  text-align: left;
  width: 100%;
  border-top: 1px solid #333333;
  padding: 10px 30px;
}

#navbar > ul {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.nav-link > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
}

#main-doc {
  position: absolute;
  margin-left: 320px;
  padding: 20px;
}

#main-doc header {
  text-align: left;
  margin: 0;
  font-weight: thin;
}

section article {
  padding-left: 15px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  background-color: #dfdfe2;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  line-height: 1.5;
}

#Reference article {
  margin-left: 20px;
}

@media (max-width: 825px) {
  body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  #navbar {
    position: static;
    height: 300px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: none;
    border-bottom: solid grey;
    text-align: center;
  }

  #navbar ul {
    height: calc(100vh - 450px); /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-top: 1px solid grey;
  }

  .nav-link > li {
    padding-left: 30px; /* Adjust the padding as needed */
    width: 100%; /* Make the list items full width on smaller screens */
  }

  .heading {
    margin-top: 5px;
  }

  #main-doc {
    margin-top: 300px;
    margin-left: 10px;
  }
}
